@font-face {
  font-family: "UTM";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/UTM\ BryantLG.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.ttf");
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans";
  width: 100%;
}

.hapo-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
}

.hapo-header img {
  height: 70px;
  width: auto;
  padding-left: 60px;
}

.hapo-header ul {
  list-style: none;
  margin-left: 150px;
}

.hapo-header li {
  display: inline;
}

.hapo-header a {
  font: bold 15px/19px;
  text-transform: uppercase;
  padding: 8px 20px;
  text-decoration: none;
  color: #505353;
}

.hapo-header a:hover {
  background-color: #b2d235;
  border-radius: 17px;
  color: #ffffff;
}

.banner {
  background-image: url(../images/HapoLearnBanner.png);
  background-size: cover;
  width: auto;
  height: 655px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slogan-banner,
.banner p,
.button-banner {
  margin-left: 60px;
}

.slogan-banner {
  font-size: 50px;
  font-family: "UTM";
  letter-spacing: -0.05em;
  color: #11114e;
}

.banner p {
  font: 20px/25px "UTM";
  letter-spacing: -0.05em;
}

.button-banner,
.button-maincourses {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #b2d235;
  align-items: center;
  cursor: pointer;
  border: 0;
  outline: none;
}

.button-banner {
  width: 377px;
  height: 70px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

.text-banner {
  font: bold 30px/37px "UTM";
  line-height: 13px;
  color: #ffffff;
}

.main-courses {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-courses img {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}

.main-courses-content {
  width: 100%;
  height: 50%;
}

.main-courses-content {
  background: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-courses-content p {
  font: bold 14px/20px "UTM";
  width: 80%;
  text-align: center;
  letter-spacing: -0.05em;
}

.main-courses-content h1 {
  margin: 0 auto;
  font: bold 30px/37px "UTM";
  color: #b2d235;
}

.html,
.laravel,
.php {
  display: flex;
  flex-direction: column;
  margin: 50px 15px;
  width: 370px;
  height: 470px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.html {
  background: #3f6185;
}

.laravel {
  background: #dc594c;
}

.php {
  background: #556598;
}

.button-maincourses {
  width: 200px;
  height: 42px;
  box-shadow: inset 0 1.5px 2px #6F8710;
  border-radius: 22px;
}

.text-maincourses {
  font: bold 18px "UTM";
  color: #FFFFFF;
}

.hapo-footer {
  background: #505353;
  height: 308px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
}

.text-footer {
  padding-top: 46px;
  padding-left: 50px;
}

.text-footer img {
  height: 60px;
  width: auto;
}

.text-footer p {
  font: 20px/25px "UTM";
  letter-spacing: -0.05em;
  color: #ffffff;
  margin: 0 0 0 66px;
}

.menu-footer ul {
  list-style: none;
  margin-top: auto;
}

.menu-footer li {
  padding: 10px;
}

.menu-footer a {
  font: bold 23px "UTM";
  text-decoration: none;
  color: #ffffff;
}

.contact-footer {
  align-self: center;
}

.contact-footer ul {
  list-style: none;
  display: flex;
  margin-right: 206px;
}

.contact-footer li {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}

.copyright {
  width: 100%;
  font: 15px "UTM";
  letter-spacing: -0.05em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454545;
  height: 38px;
}
