@font-face {
  font-family: "UTM";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/UTMBryantLG.ttf");
}

@font-face {
  font-family: "UTM_B";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/UTMBryantLG_B.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf");
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans";
  width: 100%;
  background: url(../images/background-header.png) no-repeat;
  background-size: 100% 966px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hapo-header {
  width: 100%;
  height: 150px;
  justify-content: space-between;
}

.hapo-header img {
  height: 70px;
  width: auto;
  margin-left: 60px;
}

.hapo-header ul {
  list-style: none;
  margin-right: 60px;
}

.hapo-header li {
  display: inline;
  font-weight: bold;
}

.hapo-header a {
  font: bold 15px/19px;
  text-transform: uppercase;
  padding: 8px 20px;
  text-decoration: none;
  color: #505353;
}

.hapo-header a:hover {
  background-color: #B2D235;
  border-radius: 17px;
  color: #FFFFFF;
}

.banner {
  background: url(../images/HapoLearnBanner.png) no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  height: 655px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slogan-banner > p {
  font-size: 50px;
  font-family: "UTM";
  letter-spacing: -0.05em;
  color: #11114E;
  margin: 0;
}

.slogan-banner span {
  font: bold 50px "UTM_B";
  -webkit-text-stroke-width: 2px;
}

.slogan-banner img {
  vertical-align: middle;
}

.banner p,
.button-banner {
  margin-left: 60px;
}

.banner > p {
  font: 20px/25px "UTM";
  letter-spacing: -0.05em;
}

.button-banner,
.button-courses {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #B2D235;
  align-items: center;
  cursor: pointer;
  border: 0;
  outline: none;
}

.button-banner:hover,
.button-courses:hover {
  background-color: #11114E;
  transition: 0.4s;
}

.button-banner,
.btn-become-member {
  width: 377px;
  height: 70px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

.text-banner {
  font: bold 30px/37px "UTM";
  line-height: 13px;
  color: #FFFFFF;
  -webkit-text-stroke-width: 1px;
}

.main-courses,
.other-courses {
  width: 100%;
}

.main-courses img,
.other-courses img {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}

.main-courses-content {
  width: 100%;
  height: 50%;
}

.main-courses-content,
.other-courses-content {
  background: #FFFFFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-courses-content p,
.other-courses-content p {
  font: bold 14px/20px "UTM";
  width: 80%;
  text-align: center;
  letter-spacing: -0.05em;
}

.main-courses-content b,
.other-courses-content b {
  margin: 0 auto;
  font: bold 30px/37px "UTM";
  color: #B2D235;
  -webkit-text-stroke-width: 1px;
}

.courses {
  display: flex;
  flex-direction: column;
  margin: 50px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.main-courses-detail {
  width: 370px;
  height: 470px;
}

.html {
  background: #3F6185;
}

.laravel {
  background: #DC594C;
}

.php {
  background: #556598;
}

.button-courses {
  width: 200px;
  height: 42px;
  box-shadow: inset 0 1.5px 2px #6F7810;
  border-radius: 22px;
}

.hapo-title {
  font: bold 80px/98px "UTM";
  letter-spacing: -0.02em;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  color: #11114E;
  -webkit-text-stroke-width: 3px;
}

.underline {
  border-bottom: 6px solid #B2D235;
  border-radius: 3px;
  padding-bottom: 10px;
}

.other-courses-detail {
  width: 370px;
  height: 400px;
}

.other-courses-content {
  width: 100%;
  height: 50%;
}

.text-courses {
  font: bold 18px "UTM";
  color: #FFFFFF;
  -webkit-text-stroke-width: 1px;
}

.css {
  background: #24ABE2;
}

.ruby {
  background: #E14E40;
}

.java {
  background: #1B75BB;
}

.text-allcourses {
  width: 100%;
  text-align: center;
}

.text-allcourses > h1 > a {
  text-decoration: none;
  font: bold 40px/49px "UTM_B";
  letter-spacing: -0.02em;
  color: #90AB26;
  -webkit-text-stroke-width: 2px;
}

.text-allcourses:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.5s;
}

.whyhapo {
  background-image: url(../images/coverWhyHapoLearn.jpg);
  width: 100%;
  height: 740px;
  justify-content: space-between;
}

.whyhapo-left {
  margin-top: -9%;
  margin-left: 3%;
  flex-direction: column;
}

.whyhapo-left > img {
  height: 478px;
  width: auto;
  transform: rotate(17.12deg);
  margin-left: -70%;
}

.text-whyhapo {
  margin-left: 100px;
}

.text-whyhapo > p {
  font: bold 70px/86px "UTM";
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin: 0;
  -webkit-text-stroke-width: 2px;
}

.text-whyhapo ul {
  list-style: none;
  font: 20px/25px "UTM";
  letter-spacing: -0.05em;
  color: #FFFFFF;
  padding: 0;
}

.text-whyhapo li {
  display: flex;
  align-items: center;
}

.text-whyhapo > ul > li > img {
  height: 35px;
  width: auto;
  margin: 10px;
}

.whyhapo-right > img {
  height: 544px;
  width: auto;
  margin-right: 30%;
}

.comment {
  width: 100%;
  height: 320px;
  flex-direction: row;
  flex-wrap: wrap;
}

.feedback > p {
  font: 25px/31px "UTM";
  letter-spacing: -0.02em;
  color: #505353;
  text-align: center;
  width: 100%;
}

.feedback-detail {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin: 0;
  align-items: center;
}

.feedback-content {
  background: url(../images/Union.png) no-repeat;
  background-size: 570px 163px;
  width: 570px;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.comment-content {
  height: 90px;
  margin-right: -3%;
}

.comment-content p {
  width: 500px;
  font: 16px/20px "UTM";
  letter-spacing: -0.05em;
  color: #000000;
  margin: 0.6em;
  align-self: center;
}

.feedback-content > a {
  border: 0.5px solid #C4C4C4;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #FFFFFF;
  color: #969494;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-left {
  margin-left: -6%;
  margin-right: 3%;
}

.slideshow-right {
  margin-left: 3%;
  margin-right: -6%;
}

.quote {
  width: 5px;
  height: 100px;
  background-color: #D9DADC;
}

.feedback-content > a:hover {
  background-color: #B2D235;
  color: #FFFFFF;
}

.user {
  display: inline-flex;
  justify-content: flex-start;
  margin: 0 10px;
  width: 570px;
}

.user > img {
  margin: 0 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.fa-star,
.fa-star-half-alt {
  color: #F2C54F;
}

.user-information b {
  font: bold 20px/25px "UTM";
  color: #11114E;
  -webkit-text-stroke-width: 1px;
}

.user-information p {
  font: bold 16px/20px "UTM";
  color: #505353;
  margin: 0;
}

.become-member {
  background: url(../images/background-green.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  flex-direction: column;
}

.become-member > p {
  text-align: center;
  font: bold 60px/74px "UTM";
  letter-spacing: -0.02em;
  color: #FFFFFF;
  -webkit-text-stroke-width: 2px;
  margin: 20px;
}

.btn-become-member {
  border: 0;
  outline: none;
  background: #FFFFFF;
  cursor: pointer;
}

.btn-become-member:hover {
  background-color: #11114E;
}

.btn-become-member:hover p {
  color: #FFFFFF;
}

.btn-become-member > p {
  font: bold 30px/37px "UTM";
  letter-spacing: -0.05em;
  color: #90AB26;
  margin: 0;
  -webkit-text-stroke-width: 1px;
}

.statistic {
  text-align: center;
  justify-content: space-evenly;
}

.statistic-content p,
.statistic-content b {
  font: bold 60px/74px "UTM";
  letter-spacing: -0.05em;
}

.statistic-content p {
  color: #505353;
  margin: 30px;
}

.statistic-content b {
  color: #B2D235;
}

.toggle-chat {
  position: fixed;
  float: right;
  bottom: 50px;
  right: 40px;
}

.chat-content {
  display: none;
  position: fixed;
  bottom: 130px;
  right: 40px;
  width: 360px;
  height: 190px;
  background-color: #FFFFFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}

.btn-chat {
  cursor: pointer;
}

.btn-chat:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.5s;
}

.btn-cancel {
  border-radius: 50%;
  float: right;
  cursor: pointer;
  margin: 20px;
  background-color: #C4C4C4;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.btn-cancel:hover {
  background-color: #000000;
  color: #C4C4C4;
}

.chat-content > p,
.login p {
  font: normal 12px/16px "Open Sans";
  letter-spacing: -0.02em;
  display: inline-flex;
}

.chat-content > p {
  color: #7F7F7F;
  margin: 10px 70px;
  padding-top: 10px;
}

.hapo-chatbot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hapo-chatbot p {
  margin: 0;
  padding: 10px;
  width: 208px;
  height: 34px;
  font: normal 12px/17px "Open Sans";
  letter-spacing: -0.02em;
  background-color: #f1f0f0;
  border-radius: 15px;
  align-self: center;
}

.hapo-chatbot img {
  margin-left: 13px;
  width: 28px;
  height: 28px;
}

.login img {
  width: 17px;
}

.login > a > p {
  background-color: #3184f7;
  padding: 10px 65px;
  border-radius: 10px;
  cursor: pointer;
}

.login a {
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

.login > p {
  color: #7F7F7F;
  margin: 0;
}

.login > a > p:hover {
  background-color: #44BEC7;
}

.hapo-footer {
  background: #505353;
  height: 308px;
}

.footer-left,
.footer-right {
  width: 50%;
  height: 100%;
  justify-content: space-between;
}

.text-footer {
  width: 60%;
  margin-top: -100px;
  margin-left: 100px;
}

.contact-footer {
  width: 60%;
}

.text-footer img {
  height: 60px;
  width: auto;
}

.text-footer p {
  font: 20px/25px "UTM";
  letter-spacing: -0.05em;
  color: #FFFFFF;
  margin: 0 0 0 66px;
}

.footer-right > .menu-footer {
  margin-top: -45px;
}

.menu-footer ul {
  list-style: none;
  margin-top: auto;
}

.menu-footer li {
  padding: 10px;
}

.menu-footer a {
  font: bold 23px "UTM";
  text-decoration: none;
  color: #FFFFFF;
}

.menu-footer a:hover {
  -webkit-text-stroke-width: 1px;
  text-decoration: underline;
}

.contact-footer {
  align-self: center;
  margin: 0;
}

.contact-footer ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.contact-footer a {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}

.contact-footer li {
  display: inline-flex;
  align-items: center;
}

.contact-footer li:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.5s;
}

.contact-footer li:hover span {
  display: block;
}

.contact-detail {
  padding-left: 15px;
  display: none;
  font: normal normal 20px/25px "UTM";
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

.copyright {
  width: 100%;
  font: 15px "UTM";
  letter-spacing: -0.05em;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454545;
  height: 38px;
}

.space50 {
  height: 50px;
  width: 100%;
}

.space100 {
  height: 100px;
  width: 100%;
}

.space200 {
  height: 200px;
  width: 100%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
